.we-offer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2.5rem 0;
}
.offer-item{
   
    background-color:#f8f9fa;
    text-align: center;
    padding: 5%;
    margin: 2%;
    transition: all 1s ease-in-out;
}

.offer-item img{

    width: 30%;
}
.offer-content{
margin-top: 1em;
}
.offer-content p{
    margin-top: 1em;
    color: #858b8f;
}
.offer-item:hover{
    background-color: #fff;
    -webkit-box-shadow: -1px 2px 15px 5px rgba(181, 181, 181, 0.81); 
    box-shadow: -1px 2px 15px 5px rgba(210, 208, 208, 0.81);
}