:root {
  --text-dark: #000000;
  --text-title-red: red;
  --text-dark-blue: rgb(1, 1, 34);
  --text-white: #ffffff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
}
body {
  font-family: sans-serif;
}
.container-body {
  padding-left: 1.5em;
  padding-right: 1.5em;
}
a {
  color: var(--text-dark);
}
.py-5 {
  padding-top: 15px;
  padding-bottom: 15px;
}
.py-10 {
  padding-top: 35px;
  padding-bottom: 35px;
}
.font-sm {
  font-size: 1em;
}
.my-5 {
  margin: 2.5em 0;
}
.my-10 {
  margin: 3.5em 0;
}
.text-gray {
  color: #7c7d7e;
}
.ml-5 {
  margin-left: 2em;
}
.text-bold {
  font-weight: bolder;
}
